* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-family: "Sola", sans-serif;
}
:root {
  --font-poppins: Poppins, sans-serif;
  --font-sola: "Sola", sans-serif;
}
.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}
a {
  text-decoration: none;
}
.header {
  margin-top: 44px;
}
/* .header.fixed {
  position: sticky;
  padding-top: 18px;
} */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header ul {
  display: flex;
}
.header ul a {
  color: #5e6085;
  font-family: var(--font-poppins);
  font-size: 14px;
  font-weight: 500;
  line-height: 14px; /* 100% */
  padding-right: 36px;
}
.nav {
  margin-left: auto;
}
.action {
  margin-left: 229px;
}
.btn {
  border-radius: 25px;
  border: 1px solid #000958;
  opacity: 0.9;
  padding: 18px 32px;
}
.action_nav {
  margin-right: 12px;
  color: #656689;
  font-weight: 700;
}
.nav-1:hover {
  text-shadow: 1px 0 0 currentColor;
  color: #000958;
}
.btn-header {
  color: #000958;
  text-align: center;
  font-family: var(--font-poppins);
  font-size: 14px;
  font-weight: 700;
  line-height: 14px; /* 100% */
}
/* ===========================Hero======================== */
.hero {
  padding-top: 118px;
}
.hero .hero-thumb {
  max-width: 100%;
  max-height: 100%;
  border: 1px solid #fff;
  border-radius: 16px;
  background: #fe997b;
}
.hero .hero-thumb-1 {
  width: 186px;
  height: 244px;
  padding: 24px 1px 0px 3px;
  border-radius: 16px;
  background: #faa7ad;
  border: 2px solid #f7ddf7;
  position: absolute;
  top: 302px;
  right: -10px;
  bottom: 69px;
}
.hero .hero-thumb-2 {
  position: absolute;
  top: 16px;
  right: 110px;
  z-index: -1;
}
.hero .hero-thumb-3 {
  position: absolute;
  left: -45px;
  top: 247px;
  bottom: 10px;
  z-index: -1;
}
.hero .hero-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 120px;
}
.hero .hero-left {
  width: 49%;
  position: relative;
}
.hero .hero-right {
  width: 44%;
  padding-top: 71px;
}
.hero .heading-hero {
  color: #000958;
  font-family: var(--font-sola);
  font-size: 66px;
  width: 517px;
  font-weight: 800;
  line-height: 76px; /* 115.152% */
}
.hero .desc-hero {
  color: #656689;
  font-family: var(--font-poppins);
  font-size: 16px;
  width: 391px;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  margin-top: 24px;
}
.hero .action-hero {
  margin-top: 38px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.action-hero-1 {
  border-radius: 31px;
  background: #ff5b2e;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  padding: 22px 30px 22px 30px;
  display: flex;
  align-items: center;
}
.hero-cheveron-right {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #fffaf5;
  box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
  margin-left: 10px;
}
.btn-hero {
  color: #fff;
  text-align: center;
  font-family: var(--font-poppins);
  font-weight: 600;
  line-height: 16px; /* 100% */
  border: none;
  outline: none;
  background: none;
}
.hero .btn-hero-1 {
  color: #000958;
  text-decoration: underline;
  text-align: center;
  font-family: var(--font-poppins);
  font-size: 16px;
}
/* ==================Hero List ============= */
.hero-list {
  width: 250px;
  height: 156px;
  border-radius: 10px;
  background: #fff;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
  padding: 18px 14px;
  position: relative;
  left: 129px;
  right: 9px;
  bottom: 94px;
}
.hero-item {
  display: flex;
}
.hero-item-1 {
  display: flex;
}
.hero-list-item__info {
  margin-left: 10px;
}
.hero-list-item__skeleton {
  margin-top: 6px;
  width: 118px;
  height: 4px;
  border-radius: 10px;
  opacity: 0.08;
  background: #000958;
}
.hero-list-item__separate {
  border: 2px solid #f2f2f2;
  margin-top: 20px;
  margin-bottom: 20px;
}
.hero-list-item__skeleton:last-child {
  width: 39px;
  height: 4px;
  border-radius: 10px;
  opacity: 0.08;
  background: #000958;
}
.hero-list-item__title {
  color: #181e52;
  font-family: var(--font-sola);
  font-size: 14px;
  font-weight: 600;
  line-height: 14px; /* 100% */
}
.hero-list-item__thumb {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: #fec23f;
  object-fit: cover;
}
.hero-item-1 .hero-list-item__thumb {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: #c6e2fa;
}
/* ===============About================= */
.about {
  margin-top: 77px;
}
.about .about-body {
  display: flex;
  justify-content: space-between;
  column-gap: 139px;
}
.about .about-left {
  width: 40%;
}
.about .about-right {
  width: 54%;
}
.about .pink-box {
  width: 494px;
  height: 336px;
  border-radius: 16px;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
  margin-top: 130px;
  position: relative;
}
.about .about-thumb {
  position: absolute;
  top: -215px;
  left: 23px;
}
.about .about-decor {
  position: absolute;
  top: -66px;
  right: -50px;
  z-index: -1;
}

.about-span {
  color: #5e6085;
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 600;
  line-height: 16px; /* 100% */
}
.about-heading {
  color: #000958;
  font-family: var(--font-sola);
  font-size: 52px;
  font-weight: 700;
  line-height: 62px; /* 119.231% */
  width: 446px;
  margin-top: 15px;
}
.about-desc {
  color: #656689;
  font-family: var(--font-poppins);
  font-size: 16px;
  width: 431px;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  margin-top: 24px;
}
.radio-group {
  margin-top: 55px;
}
.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 40px;
}
.form-label {
  color: #48496a;
  font-family: var(--font-poppins);
  font-size: 18px;
  font-weight: 500;
  line-height: 18px; /* 100% */
}
.radio-btn label::before,
.radio-btn label::after {
  content: "";
  display: inline-block;
}
.radio-btn label::before {
  margin-right: 10px;
  width: 12px;
  height: 12px;
  border-radius: 25%;
  border: 2px solid #a7a7b6;
}
.radio-btn [type="checkbox"]:checked + label::before {
  background: #ff5d31;
  border-color: #ff5d31;
}
.radio-btn [type="checkbox"] {
  display: none;
}

.radio-btn label {
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.radio-btn [type="checkbox"]:checked + label::after {
  position: absolute;
  top: 4px;
  left: 2px;
  width: 9px;
  height: 5px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  rotate: -45deg;
}
.about-wrapper {
  width: 136px;
  height: 156px;
  border-radius: 10px;
  background: #5bd6e2;
  box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
  position: relative;
  position: absolute;
  top: -58px;
  left: -92px;
  padding: 31px 26px 0px 23px;
}
.heading-about-wrappper {
  color: #fff;
  text-align: center;
  font-family: var(--font-sola);
  font-size: 42px;
  font-weight: 700;
  line-height: 42px; /* 100% */
  margin-bottom: 14px;
}
.desc-about-wrapper {
  width: 83px;
  color: #c6f4f9;
  text-align: center;
  font-family: var(--font-poppins);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.about-wrapper-1 {
  position: absolute;
  top: -41px;
  right: -36px;
}
/* =====================Animal====================== */
.animal {
  margin-top: 77px;
}
.animal .animal-body {
  display: flex;
  justify-content: space-between;
  column-gap: 85px;
}
.animal-left {
  width: 458px;
  height: 500px;
  border-radius: 18px;
  border: 2px solid #fff;
  background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
  box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
  width: 42%;
  position: relative;
}
.animal-thumb-1 {
  position: absolute;
  top: 33px;
}
.animal-thumb-2 {
  position: absolute;
  right: 13px;
  top: -16px;
}
.animal-thumb-3 {
  position: absolute;
  right: -27px;
  top: 268px;
}
.animal-thumb-4 {
  position: absolute;
  bottom: -54px;
  right: -42px;
}
.animal-right {
  width: 47%;
}
.animal .heading-animal {
  color: #000958;
  font-family: var(--font-sola);
  font-size: 52px;
  font-weight: 700;
  line-height: 62px; /* 119.231% */
  width: 543px;
}
.animal .desc-animal {
  color: #656689;
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  width: 511px;
  margin-top: 24px;
}
.animal .animal-list {
  margin-top: 54px;
  display: flex;
  justify-content: space-between;
}
.animal .animal-item {
  display: flex;
  align-items: center;
}
.animal .animal-desc-1 {
  color: #48496a;
  font-family: var(--font-sola);
  font-size: 18px;
  font-weight: 600;
  line-height: 18px; /* 100% */
  margin-left: 10px;
}
.animal .desc-animal-2 {
  margin-top: 50px;
  color: #656689;
  font-family: var(--font-poppins);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  width: 391px;
}
.animal .desc-animal-3 {
  margin-top: 32px;
  color: #ff5d31;
  font-family: var(--font-poppins);
  font-size: 16px;
  text-decoration: underline;
  font-weight: 500;
  line-height: 16px; /* 100% */
  display: inline-block;
}
.animal-skeleton {
  width: 557px;
  opacity: 0.07;
  border: 2px solid #ff5b2e;
  margin-top: 11px;
}
.animal-skeleton-1 {
  width: 95px;
  border: 2px solid #ff5b2e;
}
